---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <div class="mt-20 flex items-center flex-col gap-3">
        <h1 class="text-4xl font-bold text-center">
            Welcome to Even<span class="text-sky-500">TEC</span>
        </h1>
    </div>
</Layout>
