---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";

const data = [
  {
    title: "Concert",
    body: "18/10/2021",
    image:
      "https://images.pexels.com/photos/801863/pexels-photo-801863.jpeg?cs=srgb&dl=pexels-maur%C3%ADcio-mascaro-801863.jpg&fm=jpg",
    id: "1",
  },
  {
    title: "Conference",
    body: "20/10/2021",
    image:
      "https://images.inc.com/uploaded_files/image/1920x1080/getty_499517325_111832.jpg",
    id: "2",
  },
  {
    title: "Workshop",
    body: "22/10/2021",
    image:
      "https://images.pexels.com/photos/1181357/pexels-photo-1181357.jpeg?cs=srgb&dl=pexels-ron-lach-1181357.jpg&fm=jpg",
    id: "3",
  },
];
---

<Layout title="Welcome to Astro.">
  <div class="mt-4 flex items-center flex-col gap-3">
    <h1 class="text-4xl font-bold text-center">
      Welcome to Even<span class="text-sky-500">TEC</span>
    </h1>
    <div
      class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-5/6 z-10"
    >
      {
        data.map((event) => (
          <EventCard
            title={event.title ?? ""}
            body={event.body ?? ""}
            image={event.image ?? ""}
            id={event.id ?? ""}
          />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .hover\:grayscale-0:hover {
    filter: grayscale(0);
  }
</style>
