---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <p>Hola</p>
  <div class="bg-slate-200">
    <h1 class="text-4xl font-bold text-center text-white">Welcome to Astro</h1>
  </div>
</Layout>
